
#coursePage{

	background-color: $lightBg;
	color: $lightText;
	font-family: $gothic;

	.pageContainer{
		max-width: none;
		min-width: 700px;
		@media screen and (max-width: 700px){
			min-width: 0px;
			width: 100%;
		}
	}

	h2{
		@include fontTitle();
		text-align: center;
		margin-bottom: .5em;
	}

	table{
		border-spacing: 0px;
		border: 0px;
		width: 100%;
	}

	tr{

		font-size: 16px;
		td{
			background-color: $lightText;
			color: $lightBg;
			padding-left: 1em;
			padding-right: 1em;
			text-align: center;
			vertical-align: middle;
			border: 1px $lightBg solid;
			padding-top: .5em;
			padding-bottom: .5em;

			&.course{
				color: $lightRed;
				cursor: pointer;
			}
			&.easy{
				background-color: #ddd;
				color: $lightBlack;
			}
		}
		p{
			margin-top: .3em;
		}
	}
}