
#coursePage{

	background-color: $lightBg;
	color: $lightText;
	font-family: $gothic;

	.pageContainer{
		max-width: none;
		min-width: 700px;
		@media screen and (max-width: 700px){
			min-width: 0px;
			width: 100%;
		}
		overflow-x: hidden;
	}

	h2{
		@include fontTitle();
		text-align: center;
		margin-bottom: .5em;
	}

	.tableContainer{
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}
	table{
		border-spacing: 0px;
		border: 0px;
		width: 100%;
		min-width: 500px;
	}

	tr{

		font-size: 16em/$baseEm;
		td{
			height: 1.2em;
			line-height: 1.2em;
			background-color: $lightText;
			color: $lightBg;
			padding-left: 1em;
			padding-right: 1em;
			text-align: center;
			vertical-align: middle;
			border: 1px $lightBg solid;
			padding-top: .5em;
			padding-bottom: .5em;

			transition: background-color 300ms linear;

			&.course{
				color: $lightBlue;

				p:nth-child(2):before{
					content: " ";
					display: inline-block;
					vertical-align: bottom;
					height: 1.2em;
					width: 1.2em;
					background-image: url('img/book.png');
					background-size: 100% 100%;
					background-size: cover;
				}
				p:nth-child(3):before{
					content: " ";
					display: inline-block;
					vertical-align: bottom;
					height: 1.1em;
					width: 1.1em;
					background-image: url('img/smallPerson.png');
					background-size: 100% 100%;
					background-size: cover;
				}
			}
			&.activity{
				color: $darkYellow;
			}
			&.link{
				cursor: url(img/talk.png) 12 12, alias;
				&:hover{
					background-color: #222;
				}
			}
			&.easy{
				background-color: $darkGray;
				color: $smokeWhite;
			}
		}
		&:first-child{
			font-weight: 900;
		}
		p{
			margin-top: .3em;
		}
		tr:first-child{
			td{
				font-weight: 900;
			}
		}
	}
}