
$colNum: 5;

#enrollPage{

	background-color: $darkBg;
	color: $darkText;
	font-family: $gothic;

	h2{
		@include fontTitle();
		text-align: center;
		margin-bottom: .5em;
	}
	.tmpContent{
		height: 12em;

		strong{
			display: block;
			text-align: left;
			text-indent: 2em;
			padding-right: 1em;
			color: $darkGray;
			font-weight: 100;
			@include fontArticle();
			@media screen and (max-width: 800px){
				width: 90%;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.claimDate{
			width: 6em;
			text-align: center;
			text-indent: 0;
			margin-top: 1em;
			margin-left: auto;
			margin-right: auto;
			padding: .5em 1em;
			border: 1px solid $darkGray;
			opacity: .8;
			box-shadow: 0 0 2px $darkGray;
			p{
				line-height: 1.4em;
				width: 100%;
				text-align: center;
			}
		}
	}
	.row{
		display: block;
		width: 100%;
		height: 1.3em;
		line-height: 1.3em;

		.col{
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 100% / $colNum - 0.5%;
			text-align: center;
		}
	}

	.pageContainer{
		width: 80%;

		.left{
			width: 80%;
		}
		img{
			position: absolute;
			top: 50%;
			right: 0%;
			transform-style: preserve-3d;
			transform: translate(-0%, -40%);
			width: 200px;
		}

		@media screen and (max-width: 800px){
			width: 100%;
			& .left{
				width: 100%;
			}
			& img{
				display: none;
			}
		}
	}
}