
#footer{

	font-family: $gothic;
	background-color: $darkBg;
	color: $darkText;
	padding: 2em;

	footer{
		display: block;
		font-size: 16px;
		text-align: center;
	}

	.followUs{
		display: block;
		font-size: 14px;
		margin-top: 1em;
		text-align: center;

		a{
			text-decoration: none;
			display: inline-block;
			margin-right: 1em;

			img{
				height: 24px;
			}

			&:hover{
				opacity: .8;
			}
		}
	}

	.otherSay{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		position: relative;
		line-height: 1.3em;
		font-size: 1em;
		color: #7F7F7F;
		&:first-child{
			margin-top: 6em;
		}

		p{
			text-align: justify;
			&:before{
			  content: "\201C";
			  font-size: 3em;
			  position: absolute;
			  top: -.1em;
			  left: -.5em;
			  vertical-align: top;
			}
		}
		a{
			display: block;
			text-align: right;
			padding-left: 1em;
			text-decoration: none;
			font-size: .8em;
			cursor: alias;
		}
		.whosay{
			text-align: right;
		}
	}
}