
#sponsorPage{

	background-color: $lightBg;
	color: $lightText;
	font-family: $gothic;

	.pageContainer{
		width: 80%;
		max-width: 1200px;
		
		$containerWidth: 925px;
		@while $containerWidth < 1300px{

			@media screen and (min-width: $containerWidth/0.8){
				$elementWidth: ($containerWidth - 125px)/2;
				.partIn{
					display: inline-block;
					margin-left: 50px;
					width: $elementWidth;
					height: $elementWidth*3/4;
				}
			}

			$containerWidth: $containerWidth + 100px;
		}

		@media screen and (max-width: 500px){
			.partIn{
				width: 300px;
				height: 225px;
			}
		}

		@media screen and (max-width: 400px){
			.partIn{
				width: 240px;
				height: 180px;
			}
			.groupHeader{
				width: 240px;
			}
		}

	}

	$red: $darkRed;
	$blue: $darkBlue;
	$decorationHeight: 15px;
	$mainHeight: 75px;
	.partInGroup:not(:first-child){
		margin-top: 100px;
	}
	.groupHeader{
		display: block;
		width: 300px;
		position: relative;
		color: $smokeWhite;
		margin-bottom: 2em;

		&.red{
			.upBar{ background-color: $red }
			.middleBar{ background-color: $red }
			.downBar{ background-color: $red }
			.downBorder{
				border-bottom: $decorationHeight solid $red;
			}
			.upBorder{
				border-top: $decorationHeight solid $red;
			}
			.partInNameBg{ background-color: $red; }
		}
		&.blue{
			.upBar{ background-color: $blue }
			.middleBar{ background-color: $blue }
			.downBar{ background-color: $blue }
			.downBorder{
				border-bottom: $decorationHeight solid $blue;
			}
			.upBorder{
				border-top: $decorationHeight solid $blue;
			}
			.partInNameBg{ background-color: $blue; }
		}
		h2{
			@include fontTitle();
			position: relative;
			height: $mainHeight;
			line-height: $mainHeight;
			text-indent: .5em;
			font-weight: 900;
			overflow: hidden;
			z-index: 500;

			.middleBar{
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform-style: preserve-3d;
				transform-origin: right bottom;
				transform: skewX(25deg);
			}
		}
		.downBorder{
			position: absolute;
			bottom: 0;
			width: 0;
			height: 0;
			border-top: $decorationHeight solid transparent;
			border-left: $decorationHeight solid transparent;
			border-right: $decorationHeight solid transparent;
		}
		.upBorder{
			position: absolute;
			top: 0;
			width: 0;
			height: 0;
			border-bottom: $decorationHeight solid transparent;
			border-left: $decorationHeight solid transparent;
			border-right: $decorationHeight solid transparent;
		}
		.borderFloatLeft{
			left: -$decorationHeight;
		}
		.borderFloatRight{
			right: -$decorationHeight;
		}
		.upBar{
			position: absolute;
			width: 60%;
			height: $decorationHeight;
			top: -$decorationHeight;
			left: $decorationHeight;
		}
		.downBar{
			position: absolute;
			width: 20%;
			height: $decorationHeight;
			bottom: -$decorationHeight;
			left: $decorationHeight;
		}
	}
	
	.partIn{
		display: block;
		margin: 2em auto;
		position: relative;
		width: 400px;
		height: 300px;
		background-color: transparent;
		box-shadow: 0 0 10px #D5D5D5;

		&>a{
			display: block;
			width: 100%;
			height: 100%;
			margin: 0px;
			padding: 0px;
			border: 0px;
			cursor: pointer;
			&[href]{
				cursor: alias;
			}
		}
		img{
			display: block;
			width: 100%;
			@include middleCenter();
		}
		.partInName{
			@include fontArticle();
			position: absolute;
			right: -1.8em;
			bottom: -.7em;
			color: $smokeWhite;
			overflow: hidden;

			strong{
				position: relative;
				z-index: 100;
				display: block;
				padding-top: .2em;
				padding-bottom: .2em;
				padding-right: .8em;
				padding-left: 1.5em;
				@include fontArticle();
			}
			.partInNameBg{
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 0;
				top: 0;
				right: 0;
				transform-style: preserve-3d;
				transform-origin: left bottom;
				transform: skewX(-25deg);
			}

			@media screen and (max-width: 500px){
				line-height: 1.2em;
				bottom: -1em;

				strong{
					line-height: 1.2em;
				}
			}
		}
		&.red{
			.partInNameBg{
				background-color: $red;
			}
		}
		&.blue{
			.partInNameBg{
				background-color: $blue;
			}
		}
	}

	.pageContainer{
		padding-bottom: 4em;
	}
}