
#staffPage{
	@extend #enrollPage;

	.row{
		
		margin-top: .5em;
		transition-duration: 1000ms;
		height: auto;

		.c0{
			width: 18%;
			text-align: right;
			margin-right: 2%;

			color: $lightBlue;
		}
		.c1{
			width: 78%;
			text-align: left;
			vertical-align: top;
		}
	}
}