
#staffPage{
	@extend #enrollPage;

	.row{
		
		margin-top: .5em;

		.c0{
			width: 18%;
			text-align: right;
			margin-right: 2%;
		}
		.c1{
			width: 78%;
			text-align: left;
			vertical-align: top;
		}
	}
}