
#staffPage{

	background-color: $darkBg;
	color: $darkText;
	font-family: $gothic;

	h2{
		@include fontTitle();
		text-align: center;
		margin-bottom: .5em;
	}

	.pageContainer{
		width: 80%;

		.left{
			width: 100%;
		}
		img{
			position: absolute;
			top: 50%;
			left: 0%;
			z-index: 0;
			transform-style: preserve-3d;
			transform: translate(-100px, -20%);
			width: 200px;
		}

		@media screen and (max-width: 800px){
			width: 100%;
			& .left{
				width: 100%;
			}
			& img{
				display: none;
			}
		}
	}

	.row{
		
		margin-top: .5em;
		transition-duration: 1000ms;
		height: auto;

		.col{
			display: inline-block;
		}
		.c0{
			width: 35%;
			text-align: right;
			margin-right: 2%;

			color: $lightBlue;
		}
		.c1{
			width: 60%;
			text-align: left;
			vertical-align: top;
		}
		@media screen and (max-width: 500px){
			margin-top: 2em;

			.col{ display: block; }
			.c0{
				width: 100%;
				text-align: center;
			}
			.c1{
				width: 100%;
				text-align: center;
				margin-top: 1em;
			}
		}
	}
}