
$wlWidth: 3600px;
$wlHeight: 100px;


@keyframes waving{
	0%{
		transform: translate( 0% , 0% );
	}
	100%{
		transform: translate( -1904px , 0% );
	}
}

.waveline{
	
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 100;
	transform-style: preserve-3d;
	transform: translate(-0%, -50%);

	width: 100%;
	height: $wlHeight;
	overflow: hidden;
	img{
		width: $wlWidth;
		height: $wlHeight;

		animation-name: waving;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}