
// enrollPage , staffPage
$darkBg:  $darkBlack;
$darkText: $smokeWhite;

$redBg: $kuroRed;
$redText: $smokeWhite;

$blueBg: $kuroBlue;
$blueText: $smokeWhite;

$lightBg: $smokeWhite;
$lightText: $lightBlack;